* {
    margin: 0;
    padding: 0;
}

/* navigation */

.navigation {
    height: 80px;
    background-color: rgb(24, 21, 21);
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;    
}

.navigation h2 {
    padding: 15px;
    color: white;
    font-size: 40px;
}

.navigation ul li {
    list-style-type: none;
}

.navigation ul {
    display: flex ;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 29px;
    font-size: 25px;
    text-decoration: none;
   

}

.navigation ul:hover {
    color: cornflowerblue;
}

.navigation ul li a {
    text-decoration: none;
    color: white;

    
}

.navigation ul li a:hover {
    text-decoration: underline;
    color: white;
    color: black;
    border-radius: 500px;
}

.first {
    text-decoration: underline;
    color: white;
}

.slider {
    padding: 20px 80px;
    text-align: center;
    line-height: 40px;
    background-color: #df9920;
    height: 200px;
    padding-top: 90px;
    margin-top: 10px;
}

.slider h1 {
    font-weight: bolder;
    font-size: 50px;
}
